.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CARD */
.cardDim {
  width: 40rem;
  padding: 0;
}

/* BADGE */
.badge {
  background-color: #0dcaf0;
}

/* LOGIN */
.loginLink {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.loginLink:hover {
  color: #000000;
}

.div-survey {
  flex: 0 1 50%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* PREVIEW MODE */

.preview {
  zoom: 65%;
  -moz-transform: scale(0.75);
}

.handlePages {
  position: fixed;
  background-color: #6c757d;
  bottom: 0;
  z-index: 1;
}

.backgroundSecondary {
  background-color: #6c757d45;
}

.minHeight100 {
  min-height: 100vh;
}

.moveUpQuestion {
  zoom: 85%;
  width: 42px;
  position: absolute;
  z-index: 1;
  right: -21px; 
  top: -2px;
}

.deleteQuestion {
  zoom: 85%; 
  width: 42px; 
  position: absolute; 
  z-index: 2; 
  right: -21px; 
  top: 31px;
}

.moveDownQuestion {
  zoom: 85%; 
  width: 42px; 
  position: absolute; 
  z-index: 1; 
  right: -21px; 
  top: 64px;
}